@model ErrorViewModel
@{
    ViewData["Title"] = "ErrorAuth";
}

<h2 align="center" class="text-danger">Log in or register to see your schedule.</h2>

@if (Model.ShowRequestId)
{
    <p align="center">
        <strong>User authorization error detected.</strong>
    </p>
}