@model ErrorViewModel
@{
    ViewData["Title"] = "ErrorAuth";
}

    <h2 align="center" class="text-danger">User authorization error detected.</h2>

@if (Model.ShowRequestId)
{
    <p align="center">
        <strong>You may not have a role. Contact your administrator to select a role for you.</strong>
    </p>
}